body {
    margin: 0;
}

#hero {
    width: 550px;
    /* height: 285px; */ 
    background-color: #6943FF;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto; 
    display:block;
    margin: auto;
    text-align: center;

}