body {
    margin: 0;
}

/* == HERO SECTION == */

#hero {
    /* width: 550px; */
    /* height: 285px; */ 
    background-color: #6943FF;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto; 
    display:block;
    margin: auto;
    text-align: center;
    padding: 10px 0px;

}

#input-el {
    background-color: #6943FF;
    border: 2px solid white;
    width: 117px;
    height: 83px;
    /* padding-top: 101px ;
    padding-left: 217px; */
    border-radius: 5px;
    margin: auto;

    color: white;
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 58px;

    /* leading-trim: NONE; */
    line-height: 24.39px;
    letter-spacing: 0%;
    text-align: center;
}

#hero-title {
    font-family: Inter;
    font-weight: 800;
    font-style: Extra Bold;
    font-size: 28px;
    /* leading-trim: NONE; */
    line-height: 38px;
    letter-spacing: -3%;
    text-align: center;

}

#convert-btn {
    box-shadow: 0px 1px 2px 0px #0000000D;
    width: 117;
    height: 42;
    top: 209px;
    left: 217px;
    /* angle: 0 deg; */
    opacity: 1;
    border-radius: 5px;
    margin: 30px auto 20px auto;
    display: block;

    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    /* leading-trim: NONE; */
    line-height: 24px;
    letter-spacing: 0%;
    color: #3D3D3D;

}

/* == HERO SECTION == */